name: Release and Deploy

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release'
        required: true
        default: ''

permissions:
  id-token: write
  contents: read

concurrency:
  group: release-lib-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  release:
    runs-on: [ubuntu-latest]
    timeout-minutes: 300
    steps:
      - name: Release and publish library
        uses: ks-no/github-actions-public/public-java-maven@main
        with:
          java_version: '17'
          is_release: true
          version: ${{ github.event.inputs.version }}
          ks_github_app_id: ${{ vars.KS_RUNNER_APP_ID }}
          ks_github_app_private_key: ${{ secrets.KS_RUNNER_PRIVATE_KEY }}
          dependency_track_api_key: ${{ secrets.DEPENDENCY_TRACK_API_KEY }}
          artifactory_username: ${{ secrets.ARTIFACTORY_USERNAME }}
          artifactory_password: ${{ secrets.ARTIFACTORY_PASSWORD }}
          gpg_private_key: ${{ secrets.KS_CODESIGN_COMBO }}
          gpg_passphrase: ${{ secrets.KS_CODESIGN_COMBO_PASSWD }}
          maven_settings_xml: ${{ secrets.SONATYPE_OSSRH_SETTINGS_XML }}